.top-bar-section li a:not(.button) {
        padding: 0 15px;
        line-height: 45px;
}

html, body {margin: auto 0;}


.site-header {
    height: 220px;
    background: url('img/nav_bg.png') no-repeat scroll top;
    background-size: 1600px auto;
}

#footer {position: relative;
        /* negative value of footer height */
        height: 150px;
        clear:both;
        bottom: 0;
}


/*Opera Fix*/
body:before {
        content:"";
        height:100%;
        float:left;
        width:0;
        margin-top:-32767px;
}

.btn_login_facebook {background: url('img/btn_login_facebook.png') no-repeat; background-size: auto 34px; height: 34px; display: block;}
.btn_login_twitter {background: url('img/btn_login_twitter.png') no-repeat; background-size: auto 34px; height: 34px; display: block;}

/* PADRÕES */

.box-min {width: 50px; height: 50px}
.box-h-med {width: 290px; height: 300px;}
.box-v-med-h-min {width: 50px; height: 300px;}
.box-v-med-h-med {width: 100px; height: 300px;}
.box-v-med-h-max {width: 250px; height: 300px;}
.clear {clear: both!important;}
.position-relative {position: relative;}
.position-absolute {position: absolute;}
.position-fixed {position: fixed;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.float-right {float: right;}
.float-left {float: left;}
.border-solid {border: #efeeee 1px solid!important;}
.border-dotted {border: #efeeee 1px dotted;}
.border-min-top-solid {border-top-width: 1px; border-top-style: solid}
.border-max-top-solid {border-top-width: 3px; border-top-style: solid}
.gray-bright {border-color: #e0e0e0!important}
.border-min-top-dotted {border-top: 1px solid white}
.border-max-top-dotted {border-spacing: 3px; border-style: solid}
.border-radius {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.opacity {filter:alpha(Opacity=90); /*IE*/ opacity:0.9; /*FIREFOX 1.5*/ -moz-opacity:0.9; /*MOZILLA*/ -khtml-opacity:0.9;}
.padding {padding: 5px!important;}
.padding-med {padding: 10px!important;}
.padding-max {padding: 15px!important;}
.padding-top {padding-top: 5px;}
.margin {margin: 5px!important;}
.margin-med {margin: 10px!important;}
.margin-max {margin: 15px!important;}
.margin-top {margin-top: 5px;}
.margin-top-med {margin-top: 10px!important;}
.margin-top-max {margin-top: 15px;}
.margin-right {margin-right: 5px;}
.margin-left {margin-left: 5px;}
.margin-left-med {margin-left: 10px;}
.margin-left-max {margin-left: 15px!important;}
.margin-left-col-home {margin-left: 23px!important;}
.margin-bottom {margin-bottom: 5px;}    
.margin-bottom-med {margin-bottom: 10px!important;}
.margin-bottom-max {margin-bottom: 15px!important;}    
.no-margin {margin: 0!important;}
.no-margin-top {margin-top: 0!important;}
.no-margin-right {margin-right: 0!important;}
.no-margin-left {margin-left: 0!important;}
.no-margin-bottom {margin-bottom: 0!important;}
.underline-hover {text-decoration: none; color:black}
.underline-hover:hover {text-decoration: underline;}
.cursor-pointer {cursor: pointer}
.overflow-hiddem {overflow: hidden;}
.overflow-visible {overflow: visible;}
.bg-gray {background: gray!important;}
.bg-white {background: white!important;}
.bg-black {background: black!important;}
.bg-orange {background: orange!important;}
.bg-purple {background: purple!important;}
.tam-300 {width: 300px;}
.z-index-one {z-index: 1}
.z-index-five {z-index: 5}
.z-index-ten {z-index: 10}
.z-index-fifteen {z-index: 15}
.z-index-twenty {z-index: 20}
.z-index-twenty-five {z-index: 25}
.font-color-gray {color: gray!important;}
.font-color-white {color: white!important;}
.font-color-black {color: black!important;}
.font-color-red {color: red!important;}
.font-color-yellow {color: yellow!important;}
.font-color-blue {color: #194C7F!important;}
.no-border {border: 0!important;}
.no-resize {resize: none;}


/* MEUS ESTILOS */
.sobre, .quem-usa, .como-usar {opacity:0.85; -moz-opacity: 0.85; filter: alpha(opacity=85); height: 280px}
.sobre {background: white;}
.quem-usa {background: red;}
.como-usar {background: yellow;}


/* JOGADOR HOME */
.jogador_home {position: relative; margin-top: 10%; left: 50%; animation:jogador_home_move 50s infinite; -webkit-animation:jogador_home_move 50s infinite;}
@keyframes jogador_home_move { 0%   {top:50%;} 50%  {top:50%;} 50%  {left:50%} 50% {left:50%;} }
@-webkit-keyframes jogador_home_move { 0%   {top:50%;} 50%  {top:200px;} 50%  {left:50px} 50% {left:20%;} }
